.App {
  text-align: center;
}

.food-list {
  width: 500px;
  margin: 10px auto;

  .food {
    text-align: left;

    padding: 10px 20px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

    h2 {
      margin: 5px 0px;
    }
    h4 {
      margin: 5px 0px;
    }

    details {
      p {
        padding-left: 15px;
        font-size: 12px;
      }
    }
  }
}
